html.dark {
    .VPHomeHero {
        background-image: url('/img/bg-masthead.jpg');
    }
}

.VPHomeHero {
    background: url('/img/bg-masthead-light.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.VPFeatures {
    margin-bottom: 32px;
}
